@import "tailwindcss";

@theme {
  --color-secondary: #c2c7d0;
  --color-surface-variant: #2d363e;
  --color-on-surface: #dae3ee;
  --color-primary-container: #0078d4;
  --color-on-surface-variant: #c0c7d4;
  --color-surface-bright: #313a43;
  --color-on-primary: #00315c;
  --color-surface-container-lowest: #060f16;
  --color-primary: #a3c9ff;
  --color-background: #0b141c;
  --color-outline-variant: #404752;
  --color-surface-container-low: #141c24;
  --color-surface-container: #182028;
  --color-surface-container-high: #222b33;
  --color-surface-container-highest: #2d363e;
  --color-error: #ffb4ab;
}